

<form #testform="ngForm" (ngSubmit)="onSubmit();">

  Title    &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  First Name
  
  &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  LastName
  
  <br/>
  <input type="text" name="title" #title="ngModel"  [(ngModel)]="this.model.title"/>
  <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="this.model.firstName"/>
  <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="this.model.lastName"/>
  
  
  <br>
  Email
  <br>
  <input type="text" name="email" #email="ngModel" [(ngModel)]="this.model.email"/>
  
  <br>
  Password  
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  Confirm Password
  <br>

  <input type="text" name="password" #password="ngModel" [(ngModel)]="this.model.password"/>
  
  <input type="text" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="this.model.confirmPassword"/>
  

  <br>
  <input type="submit" name="button" value="REGISTER"/>
  <input type="submit" name="button" value="CANCEL"/>
</form>

<router-outlet></router-outlet>